.root {
    font-family: inter medium;
    font-size: 14px;
    line-height: 20px;
    color: #28293D;
    text-decoration-style: solid;
    border: 1px solid #28293D;
    margin: 20px;
    padding: 10px 12px;
    border-radius: 8px;
    overflow: visible;
    cursor: pointer;
    display: block;
    position: static;
    align-self: baseline;
}

.icon {
    border: 0px solid rgb(40, 41, 61);
}